exceptionhandlingtest/src/main/app/exceptionhandlingtest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cluster="http://www.mulesoft.org/schema/mule/ee/cluster" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <jms:activemq-connector name="Active_MQ" brokerURL="tcp://localhost:61616" validateConnections="true" maxRedelivery="3" doc:name="Active MQ" numberOfConsumers="1"/>
    <flow name="exceptionsFlow">
        <jms:inbound-endpoint exchange-pattern="request-response" queue="inq" connector-ref="Active_MQ" doc:name="JMS">
            <jms:transaction action="ALWAYS_BEGIN"/>
        </jms:inbound-endpoint>
        <append-string-transformer message="Response" doc:name="Append String"/>
        <jms:outbound-endpoint queue="outq" connector-ref="Active_MQ" doc:name="JMS">
            <jms:transaction action="ALWAYS_JOIN"/>
        </jms:outbound-endpoint>
        <component class="exceptionhandlingtest.TestService" doc:name="Java"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <rollback-exception-strategy doc:name="Rollback Exception Strategy">
            <logger message="******PAYLOAD RES: #[payload]" level="INFO" doc:name="Logger"/>
            <on-redelivery-attempts-exceeded>
                <logger message="******PAYLOAD RES-RE: #[payload]" level="INFO" doc:name="Logger"/>
            </on-redelivery-attempts-exceeded>
        </rollback-exception-strategy>
    </flow>
</mule>